{% load static %}

<div>
    {% if user.username == sender_username %}
        <div class="chat-message-right pb-4">
            <div>
                <img src="{% static 'Chat/images/avatar1.png' %}" class="rounded-circle mr-1" alt="{{ user.username }}" width="40" height="40">
                <div class="text-muted small text-nowrap mt-2">{{ created_at|date:'H:i a' }}</div>
            </div>
            <div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
                <div class="mb-1 text-secondary">{{ sender_username }}</div>
                {{ message }}
            </div>
        </div>
    {% else %}
        <div class="chat-message-left pb-4">
            <div>
                <img src="{% static 'Chat/images/avatar2.png' %}" class="rounded-circle mr-1" alt="{{ user.username }}" width="40" height="40">
                <div class="text-muted small text-nowrap mt-2">{{ created_at|date:'H:i a' }}</div>
            </div>
            <div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3">
                <div class="mb-1 text-secondary">{{ sender_username }}</div>
                {{ message }}
            </div>
        </div>
    {% endif %}
</div>